body {
  font: "arial", "helvetica", sans-serif;
  font-size: 16px;
  background-color: #ffdedd;
  border: 0;
  img {
    object-fit: cover;
  }
}

@media (max-width: 1199px) {
  .favourite-name {
    font-size: 29px !important;
  }
  .favourite-type {
    font-size: 22px !important;
  }
  .introduceWrap {
    .introduce {
      h1 {
        font-size: 32px !important;
      }
    }
  }
  .favouriteThings {
    img {
      height: 233px !important;
    }
  }
  .main-nav ul,
  .favourite-section {
    width: 98% !important;
  }
}
@media (max-width: 991px) {
  .main-nav ul,
  .favourite-section {
    width: 98% !important;
  }
}
@media (max-width: 767px) {
  .maintop {
    .main-nav {
      ul {
        flex-direction: column !important;
        li {
          width: 98% !important;
          margin-bottom: 10px !important;
          font-size: 24px !important;
        }
      }
    }
    .favouriteThings {
      width: 98% !important;
      margin-bottom: 10px !important;
    }
  }
  .favourite-section {
    flex-direction: column !important;
  }
  .introduceWrap {
    .introduce {
      h1 {
        font-size: 24px !important;
      }
    }
  }
  .videmedia {
    width: 100% !important;
    video {
      width: auto !important;
    }
  }
}

.box {
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.box2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-nav ul,
.favourite-section {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.lightboxes {
  text-align: center;
  width: 60%;
  height: 80%;
  left: 20%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  position: fixed;
  background-color: $dark-color-c55374;
  display: none;
}
.show-lightbox {
  background-color: $dark-color-c55374;
  top: 150px;
  display: block;
  width: 55%;
  height: 70%;
  margin: 0 auto;
}

.close {
  margin-top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  grid-area: seis;
  color: $dark-color-black;
  justify-self: end;
  /*padding-right:5%;*/
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.recome {
  width: 80%;
  height: 25%;
  color: #ffffe0;
  grid-area: cuatro;
  height: auto;
  justify-self: center;
  salign-self: start;
  padding-bottom: 50px;
}

.things {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: pink;
  position: absolute;
}

.thing {
  width: 100%;
  height: 500px;
  background-color: #ffdab9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-section {
  display: flex;
  flex-wrap: wrap;
}

.wrapImgs {
  width: 100%;
  background: $dark-color-black;
}
.wrapImgs .centerImg {
  width: 40%;
  margin: 0 auto;
}
.wrapImgs .centerImg .centerImg_a {
  margin-top: -100px;
}
.wrapImgs .centerImg img {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
.wrapImgs .statWrap {
  color: $dark-color-6f6f6f;
  text-align: center;
}
.wrapImgs .statWrap .statWrap_a {
  font-size: 40px;
  font-weight: bold;
  color: $dark-color-fff;
  margin-top: 50px;
}

.videWrap_a {
  font-size: 22px;
}
.favourite-section {
  display: flex;
  justify-content: space-between;
}
.favourite-template {
  margin-left: 160px;
  margin-top: 120px;
}

.favourite-name {
  color: $dark-color-fff;
  align: center;
}
.favourite-type {
  color: $dark-color-fff;
}
.favourite-reason {
  color: $dark-color-fff;
  font-size: 1rem;
  padding: 0px 10px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.favourite-description {
  color: $dark-color-c55374;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.wrapImgs .statWrap .statWrap_b {
  background: #000 !important;
  color: #fff !important;
  border: 4px solid #e84949 !important;
  width: 20%;
  margin: 50px auto 100px;
  padding: 10px 0;
} /*# sourceMappingURL=master.css.map */

.sdfsdfds {
  .button {
    width: 32px;
    height: 28px;
    margin-left: 97%;
    text-align: center;
    font-size: 20px;
  }
  .h2s {
    margin-top: -10px;
    text-align: center;
    font-size: 28px;
    /*background-color:pink;*/
  }

  .imagen {
    margin: auto;
    width: 50%;
  }
  .description {
    font-weight: 800;
    margin: 2% auto;
    color: #ffdedd;
    font-size: 18px;
    grid-area: seis;
    width: 80%;
    height: auto;
    justify-self: center;
    align-self: end;
    padding-top: 3%;
    padding-bottom: 30px;
  }
}

.maintop {
  nav {
    margin: 0;
  }

  nav .nav-item,
  .favouriteThings {
    font-size: 28px;
    display: inline-block;
    margin: 10px auto;
    width: 30%;
    background-color: $dark-color-c55374;
    border-radius: 5px;
    padding: 10px 10px;
    /*float:left;*/
  }
  nav .nav-item {
    text-align: center;
  }
  nav .nav-item img {
    width: 100%;
  }

  nav .nav-item a {
    cursor: pointer;
    text-decoration: none;
    color: $dark-color-fff;
  }
  nav .nav-item a:hover {
    color: red;
  }

  .favouriteThings {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: all 0.8s;
      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.videWrap {
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-color: #ffdedd;
  padding-bottom: 8px;
  .introduceTxt {
    @extend %introduce;
    margin: 30px auto;
  }
}
.videmedia {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 750px;
  height: 350px;
  background: $dark-color-black;
  padding-bottom: 10px;
}
