$dark-color-fff: #fff;
$dark-color-c55374: #c55374;
$dark-color-626368: #626368;
$dark-color-black: black;
$dark-color-6f6f6f: #6f6f6f;

%introduce {
  width: 70%;
  color: $dark-color-626368;
  font-size: 16px;
}
